.display{
    display:flex;
}
.Meals{
   display:grid;
    background-color: white;
    border:solid;
    border-color:black;
    border-width: 1.5px;
    border-radius: 15px;
    margin-left: 180px;
    margin-right:180px;
    padding-left: 20px;
    margin-top: 30px;

}

.ad{
    margin-left:60px;
    margin-top: 40px;
}

